header{
    display: flex;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.589);
    justify-content: center;
}

header a{
    text-decoration: none;
    color: aliceblue;
}

header a:hover{
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.8), /* Glød 1 */
        0 0 10px rgba(255, 255, 255, 0.8), /* Glød 2 */
        0 0 15px rgba(0, 0, 255, 0.7), /* Glød 3 (kan være en annen farge) */
        0 0 20px rgba(0, 0, 255, 0.5); 
}

header a:active{
    color: black;
}

.header-container{
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 90px;
}

.header-title{
    font-family: RigelStar;
    font-size: 2.5rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    font-size: 1.1rem;
    white-space: nowrap;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
    .header-container{
        padding: 10px 70px;
    }

    .header-title{
        font-size: 1.3rem;
        word-spacing: 100vh;
    }

    .nav-links a{
        font-size: 0.85rem;
    }
}
