@font-face {
    font-family: RigelStar;
    src: url(/src/font/Rigelstar.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../src/images/OIG1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 67%;
    background-color: #212121dc;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px;
    border-radius: 10px;
}

.page-title {
    font-family: RigelStar;
    color: aliceblue;
    font-size: 1.7rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.page-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.player-card {
    display: flex;
    background-color: #2e2e2e;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
        /* Glød 1 */
        0 0 15px rgba(255, 255, 255, 0.6),
        /* Glød 2 */
        0 0 20px rgba(0, 0, 255, 0.5),
        /* Glød 3 (kan være en annen farge) */
        0 0 25px rgba(0, 0, 255, 0.3);
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.player-info {
    padding: 15px;
}

.gamertag {
    font-family: RigelStar;
    color: aliceblue;
    font-size: 1.5rem;
    margin: 10px 0;
}

.player-bio {
    font-size: 1rem;

    line-height: 1.4;
}