@font-face {
    font-family: RigelStar;
    src: url(/Galactic\ Gamers/src/font/Rigelstar.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-image {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}


.content-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-width: 900px;
    height: 66%;
    background-color: #212121dc;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px;
    border-radius: 10px;
}

.page-title {
    justify-self: center;
    font-family: RigelStar;
    color: black;
    font-size: 1.7rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 20px;
}

.page-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.player-card, .match-card {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
        /* Glød 1 */
        0 0 15px rgba(255, 255, 255, 0.6),
        /* Glød 2 */
        0 0 20px rgba(0, 0, 255, 0.5),
        /* Glød 3 (kan være en annen farge) */
        0 0 25px rgba(0, 0, 255, 0.3);
    overflow: hidden;
    margin: 10px 10px 40px 10px;
    text-align: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.player-info {
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.gamertag {
    font-family: RigelStar;
    color: aliceblue;
    font-size: 1.5rem;
    margin: 10px 0;
}

.player-bio {
    width: 100%;
    height: 100%;
    background-color: #3f3f3f;
    font-size: 1rem;
    line-height: 1.4;
    overflow-wrap: anywhere;
}

.match-card {
    flex-direction: column;
}

.match-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}

.game-name, .match-date {
    font-size: 1.8rem;
    font-weight: bold;
}

.match-date{
    
}

.match-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
}

.team-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.result {
    font-size: 4rem;
    font-weight: bold;
    color: black
}

.content{
    color: aliceblue;
    padding: 13px;
}

.text-style {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.title-text-style, .final-text{
    font-family: RigelStar;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.offer-list {
    font-size: 1.1rem;
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

.final-text {
    text-align: center;
}

@media (max-width: 768px) {
    .screen {
        display: flex;
        width: 90%;
        height: 85%;
        padding: 5px;
    }

    .page-title {
        font-size: 1.2rem;
        padding-top: 0;
    }

    .screen{
        height: 70%;
    }

    .match-card {
        padding: 10px;
    }

    .team-logo {
        width: 50px;
        height: 50px;
    }

    .game-name, .match-date{
        font-size: 1.4rem;
    }

    .result {
        font-size: 2rem;
    }

    .profile-picture{
        width: 160px;
        height: 160px;
    }
}